* {
  box-sizing: border-box;
}

#viewport > canvas {
  width: 960;
  height: 600;
  image-rendering: pixelated;
  /* Temp while working on map */
  display: none;
}

#mapframe > canvas {
  width: 800;
  height: 600;
  image-rendering: pixelated;
  border: 1px solid red;
}
