#viewport > canvas {
  width: 960;
  height: 600;
  image-rendering: pixelated;
  /* Temp while working on map */
  display: none;
}

#map > canvas {
  width: 960;
  height: 600;
  image-rendering: pixelated;
}
