* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

#left {
  width: 50%;
}

#right {
  width: 50%;
}

#viewport {
  aspect-ratio: 4/3;
}

#editor {
  aspect-ratio: 4/3;
}

#viewport > canvas {
  image-rendering: pixelated;
  width: 100%;
}

#editor > canvas {
  width: 100%;
  image-rendering: pixelated;
  border: 1px solid red;
}
